############
# ignore node_modules (use npm update)
node_modules/
node_modules/*
src/configuration/index.json
.c9revisions/*
.c9revisions
.c9revisions/

###################
# compiled sources
*.com
*.class
*.dll
*.exe
*.o
*.so

############
# archives
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

###########
# logs
*.log

###########
# other
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
